
/* desktop */

body{
	width: 1000 px;
	margin: 0 auto;
}

header{
  display: flex;
  align-items: baseline;
}

.nav {
  color: grey;
	display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav a {
  width: 30px;
}
.box1 {
 display: flex;
}
.top-content {
  margin-bottom:30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.innovationLogo {
  display: inline-block;
}

.img{
  float: right;
}

.top-content button {
 width: 80px;
}

.hr{
  border: solid 1px;
  margin: 20px 0 0;
}
.middle-content-p {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 20px;
}


.middle-img {
  margin: 20px 0;
  width: 100%;
}

.bottom-content-p {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
}


.address {
  margin-top:30px;
  border-top: 1px solid black;
  padding-top: 20px;
  width: 100%;
}

span {
  text-align: center;
}

h1 {
  font-size:80px;
  text-align: center;
}

h2{
  font-weight: bold;
}

button{

}

.img-top {
  float: right;
  margin-left: 100px;
  padding-top: 50px;
}

.copyright{
  margin-left: 400px;
}



@media(max-width: 800px){
.headerBox {
display: flex;
align-items: center;
flex-direction: column;
}
.nav{
  width:90%
}
.headerLogo{
  order: -1;
  display: flex;
  justify-content: center;
}
}

